<mat-card>

  <mat-card-header>
    <mat-card-title>Registro</mat-card-title>
  </mat-card-header>

<mat-card-content>

  <form class="registro-form">
    <mat-form-field class="registro-form-field">
      <mat-label>Nombre</mat-label>
      <input matInput  placeholder="nombre de usuario" >
    </mat-form-field>

    <mat-form-field class="registro-form-field">
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="nombre de usuario" >
    </mat-form-field>

    <mat-form-field class="registro-form-field">
      <mat-label>Usuario</mat-label>
      <input matInput name="usuario" placeholder="nombre de usuario" >
    </mat-form-field>

    <mat-form-field class="registro-form-field">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" name="password" placeholder="contraseña" >
    </mat-form-field>

    <button mat-raised-button color="primary">Registrarse</button>
  </form>

</mat-card-content>

</mat-card>

