<mat-card>

  <mat-card-header>
    <mat-card-title>Reset</mat-card-title>
  </mat-card-header>

<mat-card-content>

  <form class="reset-form">
    <mat-form-field class="registro-form-field">
      <mat-label>Nombre</mat-label>
      <input matInput  placeholder="nombre de usuario" >
    </mat-form-field>

    <mat-form-field class="registro-form-field">
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="nombre de usuario" >
    </mat-form-field>

    <mat-form-field class="registro-form-field">
      <mat-label>Usuario</mat-label>
      <input matInput name="usuario" placeholder="nombre de usuario" >
    </mat-form-field>



    <button mat-raised-button color="primary">Recuperar</button>
  </form>

</mat-card-content>

</mat-card>



<h1>Reset-password</h1>
<input type="text" placeholder="Usuario">
<button>Recuperar</button>
